.cmpe327-container {
    height: 100vh;
    width: 100vw;
    background-color: #edd2a4;
    text-align: center;
    padding-top: 50px;
}

#editor {
    width: 900px;
    height: 540px;
    margin: 20px auto;
    position: relative;
}