.cmpe327-container {
    height: fit-content;
    width: 100vw;
    background-color: #edd2a4;
    text-align: center;
    padding-top: 50px;
}

#editor {
    width: 75vw;
    height: 60vh;
    margin: 20px auto;
    position: relative;
}

.written-notes {
    align-items: center !important;
}